<app-header></app-header>

<section id="contactSection1">
    <form action="https://formsubmit.co/tarik.dahhane.pro@gmail.com" method="POST" class="contact-form">
        <h1>Contact <span class="color-red ribbon-Animation-contact"><b>Me</b></span></h1>
  
        <label>Name:</label>
        <input type="text" name="name" required placeholder="Your name" />
      
        <label>Email:</label>
        <input type="email" name="email" required placeholder="Your email" />
      
        <label>Message:</label>
        <textarea name="message" required placeholder="Your message..."></textarea>
      
        <button type="submit">✉️ <b>Submit</b></button>
      </form>      
</section>

<app-footer></app-footer>