<div id="contactBgBlue"></div>
<div id="contactBgYellow"></div>

<section id="contactSection1">
  <div id="contactGif">
    <img src="assets/pictures/pages/contact/contactSection1Gif.gif" alt="contactGif" draggable="false" class="cardTranslateGif-Animation">
  </div>
  <div id="contactForm">
    <h1 class="cardTranslateForm-Animation">Contact Me</h1>
    <form (submit)="sendEmail($event)" class="cardTranslateForm-Animation">
      <div class="mb-4">
        <label for="name">Name</label>
        <input id="name" name="from_name" type="text" placeholder="Your name" required>
      </div>
      <div class="mb-4">
        <label for="email">Email</label>
        <input id="email" name="from_email" type="email" placeholder="Your email" required>
      </div>
      <div class="mb-6">
        <label for="message">Message</label>
        <textarea id="message" name="message" cols="40" rows="10" placeholder="Your message" required></textarea>
      </div>
      <div class="flex items-center justify-between">
        <button type="submit">
          Submit
        </button>
      </div>
    </form>
    <p id="confirmationMessage">Thank you for your message. I will respond to you soon !</p>
  </div>
</section>