<header>
    <nav>
        <ul>
            <li>
                <button [class]="isActive('/') ? 'active' : ''">
                    <a href="/">Home</a>
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </button>
            </li>
            <li>
                <button [class]="isActive('/projects') ? 'active' : ''">
                    <a href="/projects">Projects</a>
                    <a href="/projects">
                        <i class="fa-solid fa-book"></i>
                    </a>
                </button>
            </li>
            <li>
                <button [class]="isActive('/about') ? 'active' : ''">
                    <a href="/about">About</a>
                    <a href="/about">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </button>
            </li>
            <li>
                <button [class]="isActive('/contact') ? 'active' : ''">
                    <a href="/contact">Contact</a>
                    <a href="/contact">
                        <i class="fa-solid fa-address-book"></i>
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</header>