<app-header></app-header>

<section id="aboutSection1">
    <div id="aboutText" class="aboutTranslateText-Animation">
        <div>
            <h2>Who am I ?</h2>
            <p>
                I am an <span>ambitious</span> and <span>serious </span>junior full-stack web developer, <span>passionate</span> about creating dynamic and appealing websites. Having worked extensively as a self-taught <span>individual</span>, I am constantly seeking <span>new skills</span> to tackle technical challenges and contribute to innovative projects.
            </p>
        </div>
        <div>
            <h2>My journey</h2>
            <p>
                Over the months, I have dedicated <span>considerable</span> time to perfecting my skills in web development. Every day, I have diligently worked as a <span>self-learner</span>, exploring not only front-end and back-end domains, but also related topics such as <span>algorithms</span>, mathematics, and improving my English language skills.
            </p>
        </div>
        <div>
            <h2>What I do</h2>
            <p>
                Always on the lookout for the <span>latest trends and technologiesx</span>, I constantly strive to stay updated and explore new tools and frameworks. My <span>adaptability</span> allows me to quickly grasp new technologies and implement them <span>effectively</span> in my projects, ensuring <span>innovative</span> and cutting-edge solutions.
            </p>
        </div>
    </div>
    <div id="aboutPicture" class="aboutRevealPicture-Animation">
        <img src="assets/pictures/pages/about/aboutPicture.png" alt="desktop" draggable="false">
    </div>
</section>

<div id="aboutBlank"></div>

<app-footer></app-footer>