/////////////////////////// NotFound ///////////////////////////

//Section1
#notFoundSection1
    background-color: #F5F4E1
    justify-content: center
    align-items: center
    height: 100vh
    text-align: center
    color: #333
    h1
        font-size: 36px
        margin-bottom: 20px
        @apply pt-10
    p
        font-size: 18px
        margin-bottom: 40px
    div
        img
            margin: auto
    span
        font-style: italic
        #span2
            color: red
            font-weight: bold
    a
        @apply text-blue-500 font-bold