<header id="header">
    <nav>
        <ul>
            <li>
                <button [class]="isActive('/Portfolio') ? 'active' : ''">
                    <a href="/Portfolio">Home</a>
                    <a href="/Portfolio/">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </button>
            </li>
            <li>
                <button [class]="isActive('/Portfolio/projects') ? 'active' : ''">
                    <a href="/Portfolio/projects">Projects</a>
                    <a href="/Portfolio/projects">
                        <i class="fa-solid fa-book"></i>
                    </a>
                </button>
            </li>
            <li>
                <button [class]="isActive('/Portfolio/about') ? 'active' : ''">
                    <a href="/Portfolio/about">About</a>
                    <a href="/Portfolio/about">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </button>
            </li>
            <li>
                <button [class]="isActive('/Portfolio/contact') ? 'active' : ''">
                    <a href="/Portfolio/contact">Contact</a>
                    <a href="/Portfolio/contact">
                        <i class="fa-solid fa-address-book"></i>
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</header>