<header id="header">
    <nav>
        <ul>
            <li>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/']">Home</a>
                    <a [routerLink]="['/']">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </button>
            </li>
            <li>
                <button routerLinkActive="active">
                    <a [routerLink]="['/projects']">Projects</a>
                    <a [routerLink]="['/projects']">
                        <i class="fa-solid fa-book"></i>
                    </a>
                </button>
            </li>
            <li>
                <button routerLinkActive="active">
                    <a [routerLink]="['/contact']">Contact</a>
                    <a [routerLink]="['/contact']">
                        <i class="fa-solid fa-address-book"></i>
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</header>