/////////////////////////// Mixin ///////////////////////////

@mixin card()
    div
        @apply flex py-4 justify-around
        a
            display: flex
            flex-direction: column
            width: 250px
            @apply bg-slate-300 duration-100 text-center rounded-lg shadow-2xl
            img
                height: 64px
                width: 64px
                @apply m-auto py-2
            h2
                @apply font-bold text-2xl py-2 text-center bg-white
            p
                @apply bg-white text-gray-950 rounded-b-lg px-2 h-36
                span
                    @apply text-red-500 font-bold
        a:hover
            @apply scale-105 duration-100


////////////////////////// Projects //////////////////////////

//Arrow

#projectsArrow
    img
        @apply animate-bounce w-14 h-14 bottom-0 right-0 mb-12 mr-3 border-2 rounded-full p-2 fixed z-10

//Sections

#projectsContent
    background: linear-gradient(180deg, rgba(52, 56, 65, 0.8) 0%, rgba(40,44,52,1) 100%)

    //Section 1

    #projectsSection1
        @apply h-screen snap-start snap-always pt-16
        div
            @apply mx-24
            h1
                @apply inline-block font-bold text-4xl bg-white rounded-lg shadow-lg p-2 m-auto
        @include card