<section id="homeSection1">
    <div id="homeSection1div1">
        <p class="flex items-center justify-center m-auto text-sky-600 slideText-Animation">Zibounne</p>
        <p>
            <span class="textReveal-Animation">Developer web </span>
            <span class="disappear-Animation">junior</span>
        </p>
        <p>
            <span class="textReveal-Animation">Real Name </span>
            <span class="text-white">{{'{ '}}</span>
            <span class="blinkColorSky-Animation">T</span>
            <span class="blinkColorSky-Animation">a</span>
            <span class="blinkColorSky-Animation">r</span>
            <span class="blinkColorSky-Animation">i</span>
            <span class="blinkColorSky-Animation">k</span>
            <span class="text-white">{{' }'}}</span>
        </p>
        <a [routerLink]="['/about']">
            <button class="blink-Animation">ABOUT ME</button>
        </a>
    </div>
</section>