<app-header></app-header>

<section id="homeSection1">
    <h1>
        <span>Hi, I'm </span>
        <span class="blink-Animation-home">
            <span class="color-red">Tarik</span>
        </span>
    </h1>
    <p class="textReveal-Animation-home">A passionate <span class="color-red"><b>Developer</b></span><br>creating interactive and <span class="color-red"><b>user-friendly</b></span> experiences with the power of code.</p>
    <button class="textReveal-Animation-home">
        <a href="https://github.com/Zibounne">Github</a>
    </button>
</section>

<app-footer></app-footer>
