<section id="homeSection1">
    <div id="homeSection1div1">
        <img src="../../../assets/pictures/pages/home/section1/homeSection1Picture.svg" alt="indexSection1Img">
    </div>
    <div id="homeSection1div2">
        <p class="text-sky-600 slideText-Animation">Zibounne</p>
        <p>
            <span class="textReveal-Animation">Developer web </span>
            <span class="disappear-Animation">junior</span>
        </p>
        <p>
            <span class="textReveal-Animation">Real Name </span>
            <span class="blinkColor-Animation">{{'{'}}</span>
            <span class="text-yellow-500">T</span>
            <span class="text-yellow-400">a</span>
            <span class="text-yellow-300">r</span>
            <span class="text-yellow-400">i</span>
            <span class="text-yellow-500">k</span>
            <span class="blinkColor-Animation">{{'}'}}</span>
        </p>
        <a href="/about">
            <button class="blink-Animation">about Me</button>
        </a>
    </div>
</section>

<section id="homeSection2">
    <div id="homeSection2Head">
        <div id="homeSection2HeadPicture">
            <img src="../../../assets/pictures/pages/home/section2/homeSection2Title.png" alt="headPicture">
        </div>
        <div id="homeSection2HeadText">
            <h2>My Recent Project</h2>
            <p>
                This project brings together iconic games that you can play <span>online</span>, either <span>solo</span> or with <span>friends</span> !
            </p>
            <p>For more <span>projects</span>, visit my <span>Projects Hub</span> 
                <span> =>
                    <a href="/projects">
                        <button> Projects Hub </button>
                    </a>
                <=</span>
            </p>

        </div>
    </div>
    <div id="homeSection2Content">
        <a href="#">
            <img src="../../../assets/pictures/pages/home/section2/homeSection2Content1.png" alt="content1Chess">
        </a>
        <a href="#">
            <img src="../../../assets/pictures/pages/home/section2/homeSection2Content2.png" alt="content2Yahtzee">
        </a>
        <a href="#">
            <img src="../../../assets/pictures/pages/home/section2/homeSection2Content3.png" alt="content3Power4">  
        </a>
    </div>
    <div id="homeSection2Foot">
        <p>And more !</p>
        <p>Interested ? <span>Join</span> Us Now !</p>
        <a href="#">
            <button>PlaySquare</button>
        </a>
    </div>
</section>

<section id="homeSection3">
    <div>
        <p>
            <span class="blinkInfinite-Animation">> </span>
            <a href="/about">
                <button >About Me.</button>
            </a>
        </p>
        <p>
            <span class="blinkInfinite-Animation">> </span>
            <a href="/contact">
                <button>Contact.</button>
            </a>
        </p>
        <p class="blinkInfiniteFast-Animation">
            /
        </p>
    </div>
    <img src="../../../assets/pictures/pages/home/section3/homeSection3Picture.jpg" alt="pictureComputer" draggable="false">
</section>