@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes translateY {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
header {
  animation: translateY 0.75s ease-out;
  @apply w-1/2 bg-neutral-950 text-white py-2 text-xl font-bold rounded-b-lg border-x-2 border-b-2 border-white fixed left-1/4 transition-transform duration-300 ease-linear transform;
}
header nav {
  @apply flex justify-between;
}
header nav ul {
  @apply flex m-auto;
}
header nav ul li {
  @apply pr-5 flex;
}
header nav ul li button {
  @apply transition-all duration-150 ease-in-out;
}
header nav ul li button i {
  @apply pl-2;
}
header nav ul li button:hover {
  @apply border-b-sky-600 text-sky-600;
}
header nav ul li button.active {
  @apply border-4 border-sky-600 bg-sky-600 rounded text-white;
}

footer p {
  @apply py-2 text-center text-white bg-neutral-950;
}
footer p span {
  @apply text-sky-600 font-bold;
}

@keyframes translate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    @apply w-[35%] bg-sky-600;
  }
  100% {
    @apply w-[0%] bg-sky-600;
  }
}
@keyframes blinkColor {
  0% {
    @apply text-sky-800;
  }
  50% {
    @apply text-sky-700;
  }
  100% {
    @apply text-sky-600;
  }
  50% {
    @apply text-sky-700;
  }
  0% {
    @apply text-sky-800;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disappear {
  0% {
    @apply text-white;
  }
  100% {
    @apply text-black;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#homeSection1 {
  background: radial-gradient(ellipse, rgba(32, 35, 42, 0.8), rgb(40, 44, 52));
  @apply h-screen snap-start snap-always flex justify-around pt-14 py-5 border-b-8 border-neutral-950;
}
#homeSection1 #homeSection1div1 {
  @apply w-1/2;
}
#homeSection1 #homeSection1div1 img {
  animation: translate 0.75s ease-out;
  @apply m-auto w-[700px] h-[750px] mt-60;
}
#homeSection1 #homeSection1div2 {
  @apply w-1/2 font-bold text-8xl my-auto;
}
#homeSection1 #homeSection1div2 p {
  @apply py-2 cursor-default;
}
#homeSection1 #homeSection1div2 a {
  @apply mt-5;
}
#homeSection1 #homeSection1div2 button {
  @apply p-2 border-4 border-neutral-950 bg-neutral-950 rounded-xl text-white transition duration-300 ease-in-out text-6xl;
}
#homeSection1 #homeSection1div2 button:hover {
  @apply scale-105;
}

.homeSection1-textReveal-Animation {
  animation: reveal 1.5s ease-in;
}

.homeSection1-slideText-Animation {
  animation: slide 0.5s ease-in-out forwards;
}

.homeSection1-blinkColor-Animation {
  animation: blinkColor 2s linear infinite alternate;
}

.homeSection1-blink-Animation {
  animation: blink 0.75s ease-in-out 2;
}

.homeSection1-disappear-Animation {
  animation: disappear 1s linear;
}

#homeSection2 {
  @apply h-screen snap-start snap-always pt-14;
}/*# sourceMappingURL=styles.css.map */