@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes translateYHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
header {
  animation: translateYHeader 0.75s ease-out;
  @apply w-1/2 bg-neutral-950 text-white py-2 text-xl font-bold rounded-b-lg border-x-2 border-b-2 border-white fixed left-1/4 transition-transform duration-300 ease-linear transform;
}
header nav {
  @apply flex justify-between;
}
header nav ul {
  @apply flex m-auto;
}
header nav ul li {
  @apply pr-5 flex;
}
header nav ul li button {
  @apply transition-all duration-150 ease-in-out;
}
header nav ul li button i {
  @apply pl-2;
}
header nav ul li button:hover {
  @apply border-b-sky-600 text-sky-600;
}
header nav ul li button.active {
  @apply border-4 border-sky-600 bg-sky-600 rounded text-white;
}

@keyframes translateYFooter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
footer {
  animation: translateYFooter 0.75s ease-out;
  @apply fixed w-full bottom-0 transition-transform duration-300 ease-linear transform;
}
footer p {
  @apply py-2 text-center text-white bg-neutral-950;
}
footer p span {
  @apply text-sky-600 font-bold;
}

@keyframes translateX {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    @apply w-[35%] bg-sky-600;
  }
  100% {
    @apply w-[0%] bg-sky-600;
  }
}
@keyframes blinkColorSky {
  0% {
    @apply text-sky-800;
  }
  50% {
    @apply text-sky-700;
  }
  100% {
    @apply text-sky-600;
  }
  50% {
    @apply text-sky-700;
  }
  0% {
    @apply text-sky-800;
  }
}
@keyframes blinkColorGold {
  0% {
    @apply text-yellow-300;
  }
  50% {
    @apply text-yellow-400;
  }
  100% {
    @apply text-yellow-500;
  }
  50% {
    @apply text-yellow-400;
  }
  0% {
    @apply text-yellow-300;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disappear {
  0% {
    @apply text-white;
  }
  100% {
    @apply text-black;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.textReveal-Animation {
  animation: reveal 1.5s ease-in-out;
}

.slideText-Animation {
  animation: slide 0.5s ease-in-out forwards;
}

.blinkColorSky-Animation {
  animation: blinkColorSky 2s linear infinite alternate;
}

.blinkColorGold-Animation {
  animation: blinkColorGold 1s linear infinite alternate;
}

.blink-Animation {
  animation: blink 0.75s ease-in-out 2;
}

.blinkInfinite-Animation {
  animation: blink 2s ease-in-out infinite;
}

.blinkInfiniteFast-Animation {
  animation: blink 1s ease-in-out infinite;
}

.disappear-Animation {
  animation: disappear 1s linear;
}

#homeSection1 {
  background: radial-gradient(ellipse, rgba(32, 35, 42, 0.8), rgb(40, 44, 52));
  @apply h-screen snap-start snap-always flex justify-around pt-14 py-5 border-b-8 border-neutral-950;
}
#homeSection1 #homeSection1div1 {
  @apply w-1/2;
}
#homeSection1 #homeSection1div1 img {
  animation: translateX 0.75s ease-out;
  @apply m-auto w-[700px] h-[750px] mt-52;
}
#homeSection1 #homeSection1div2 {
  @apply w-1/2 font-bold text-8xl my-auto;
}
#homeSection1 #homeSection1div2 p {
  @apply py-2 cursor-default;
}
#homeSection1 #homeSection1div2 a {
  @apply mt-5;
}
#homeSection1 #homeSection1div2 a button {
  @apply p-2 border-4 border-neutral-950 bg-neutral-950 rounded-xl text-white transition duration-300 ease-in-out text-6xl shadow-2xl;
}
#homeSection1 #homeSection1div2 a button:hover {
  @apply scale-105;
}

#homeSection2 {
  @apply h-screen snap-start snap-always pt-20 py-5 bg-gradient-to-r from-gray-900 to-gray-950;
}
#homeSection2 #homeSection2Head {
  @apply flex justify-around;
}
#homeSection2 #homeSection2Head #homeSection2HeadPicture {
  @apply w-1/2;
}
#homeSection2 #homeSection2Head #homeSection2HeadPicture img {
  animation: zoomInOut 2s infinite alternate;
  @apply m-auto border-4 border-sky-600 rounded-lg shadow-2xl;
}
#homeSection2 #homeSection2Head #homeSection2HeadText {
  @apply w-1/2;
}
#homeSection2 #homeSection2Head #homeSection2HeadText h2 {
  @apply text-5xl font-bold text-sky-600 text-center;
}
#homeSection2 #homeSection2Head #homeSection2HeadText p {
  @apply text-xl mt-4 text-white text-center;
}
#homeSection2 #homeSection2Head #homeSection2HeadText p span {
  @apply text-green-500 font-bold;
}
#homeSection2 #homeSection2Head #homeSection2HeadText p span a button {
  @apply p-2 border-2 border-slate-300 bg-zinc-900 rounded-xl text-white transition duration-300 ease-in-out text-3xl mt-5 shadow-2xl;
}
#homeSection2 #homeSection2Head #homeSection2HeadText p span a button:hover {
  @apply scale-105;
}
#homeSection2 #homeSection2Content {
  @apply flex justify-around mt-14;
}
#homeSection2 #homeSection2Content a:hover {
  @apply scale-105;
}
#homeSection2 #homeSection2Content a {
  @apply transition duration-300 ease-in-out;
}
#homeSection2 #homeSection2Content a img {
  @apply border-4 border-sky-600 rounded-lg shadow-2xl;
}
#homeSection2 #homeSection2Foot {
  @apply text-center mt-5;
}
#homeSection2 #homeSection2Foot p {
  @apply text-white text-4xl;
}
#homeSection2 #homeSection2Foot p span {
  @apply text-green-500;
}
#homeSection2 #homeSection2Foot a button {
  @apply p-2 border-2 border-slate-300  bg-zinc-900 rounded-xl text-white transition duration-300 ease-in-out text-6xl mt-5 shadow-2xl;
}
#homeSection2 #homeSection2Foot a button:hover {
  @apply scale-105;
}

#homeSection3 {
  @apply relative flex h-screen items-center justify-center;
}
#homeSection3 div {
  @apply relative z-10 -top-1/3;
}
#homeSection3 div p {
  @apply text-green-500 font-bold text-3xl;
}
#homeSection3 div p a button {
  @apply transition duration-300 ease-in-out;
}
#homeSection3 div p a button:hover {
  @apply border-b-2 border-green-600;
}
#homeSection3 img {
  @apply absolute z-0 object-cover h-screen w-full;
}

#projectsContent {
  @apply bg-gradient-to-b from-gray-200 to-gray-400;
}
#projectsContent #projectsSection1 {
  @apply h-screen snap-start snap-always pt-16;
}
#projectsContent #projectsSection1 h1 {
  @apply font-bold text-6xl bg-white rounded-lg shadow-lg py-5 w-1/4 m-auto text-center;
}
#projectsContent #projectsSection1 div {
  @apply flex py-4;
}
#projectsContent #projectsSection1 div a {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  @apply bg-slate-300 w-1/4 duration-100 text-center mx-20 rounded-lg shadow-2xl;
}
#projectsContent #projectsSection1 div a img {
  @apply m-auto py-2 w-16;
}
#projectsContent #projectsSection1 div a h2 {
  @apply font-bold text-2xl py-2 text-center bg-white;
}
#projectsContent #projectsSection1 div a p {
  @apply text-base bg-white text-gray-950 rounded-b-lg pb-4;
}
#projectsContent #projectsSection1 div a p span {
  @apply text-red-500;
}
#projectsContent #projectsSection1 div a:hover {
  @apply scale-105 duration-100;
}
#projectsContent #projectsSection2 {
  @apply h-screen snap-start snap-always pt-16;
}
#projectsContent #projectsSection2 div {
  @apply flex py-4;
}
#projectsContent #projectsSection2 div a {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  @apply bg-slate-300 w-1/4 duration-100 text-center mx-20 rounded-lg shadow-2xl;
}
#projectsContent #projectsSection2 div a img {
  @apply m-auto py-2 w-16;
}
#projectsContent #projectsSection2 div a h2 {
  @apply font-bold text-2xl py-2 text-center bg-white;
}
#projectsContent #projectsSection2 div a p {
  @apply text-base bg-white text-gray-950 rounded-b-lg pb-4;
}
#projectsContent #projectsSection2 div a p span {
  @apply text-red-500;
}
#projectsContent #projectsSection2 div a:hover {
  @apply scale-105 duration-100;
}
#projectsContent #projectsSection3 {
  @apply h-screen snap-start snap-always pt-16;
}
#projectsContent #projectsSection3 div {
  @apply flex py-4;
}
#projectsContent #projectsSection3 div a {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  @apply bg-slate-300 w-1/4 duration-100 text-center mx-20 rounded-lg shadow-2xl;
}
#projectsContent #projectsSection3 div a img {
  @apply m-auto py-2 w-16;
}
#projectsContent #projectsSection3 div a h2 {
  @apply font-bold text-2xl py-2 text-center bg-white;
}
#projectsContent #projectsSection3 div a p {
  @apply text-base bg-white text-gray-950 rounded-b-lg pb-4;
}
#projectsContent #projectsSection3 div a p span {
  @apply text-red-500;
}
#projectsContent #projectsSection3 div a:hover {
  @apply scale-105 duration-100;
}/*# sourceMappingURL=styles.css.map */