<app-header></app-header>

<section id="projectsSection1">
    <h1>My <span><b class="color-red textReveal-Animation-projects">Projects</b></span></h1>
    <div>
        <a href="https://github.com/Zibounne/Algorithm">
            <i class="fa-solid fa-code"></i>
            <h2>Algorithm</h2>
            <p>
                A collection of <b>algorithmic</b> exercises designed to improve problem-solving skills.
            </p>
        </a>
        <a href="https://github.com/Zibounne/Pixel-Art">
            <i class="fa-solid fa-palette"></i>
            <h2>Pixel-Art</h2>
            <p>
                An interactive <b>pixel art</b> creation tool allowing users to unleash their <b>creativity</b> and design unique artworks.
            </p>
        </a>
    </div>
</section>

<app-footer></app-footer>