<section id="projectsSections">
    <section id="projectsSection1">
        <h1>Projects Hub</h1>
        <div>
            <a href="#">
                <img src="assets/pictures/pages/projects/playSquare/projectsIconPlaySquare.png" alt="playSquare">
                <h2>PlaySquare</h2>
                <p>
                    An online <span>gaming center</span> for web game enthusiasts, offering a captivating selection of <span>classic games</span>. Discover chess, dice games, card games, and much more here.
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
    </section>
    
    <section id="projectsSection2">
        <div>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
    </section>
    
    <section id="projectsSection3">
        <div>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#">
                <img src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
    </section>
</section>