<div id="projectsArrow">
    <img src="assets/pictures/pages/projects/projectsArrow.svg" alt="arrow">
</div>

<div id="projectsContent">
    <section id="projectsSection1">
        <h1>Projects Hub</h1>
        <div>
            <a href="#">
                <span class="relative flex h-3 w-3">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
                </span>
                <img draggable="false" src="assets/pictures/pages/projects/playSquare/projectsIconPlaySquare.png" alt="playSquare">
                <h2>PlaySquare</h2>
                <p>
                    An online <span>gaming center</span> for web game enthusiasts, offering a captivating selection of <span>classic games</span>. Discover chess, dice games, card games, and much more here.
                </p>
            </a>
            <a href="#" class="animate-pulse" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
        <div>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
    </section>
    
    <section id="projectsSection2">
        <div>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
        <div>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
    </section>
    
    <section id="projectsSection3">
        <div>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
        <div>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
            <a href="#" class="animate-pulse">
                <img draggable="false" src="assets/pictures/pages/projects/undefined/projectsIconUndefined.svg" alt="undefined">
                <h2>Undefined</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae laboriosam aspernatur ipsa sequi impedit laborum, minima mollitia fuga nisi, repudiandae sapiente doloremque corporis
                </p>
            </a>
        </div>
    </section>
</div>