///////////////////////// KeyFrames /////////////////////////

@keyframes reveal
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes slide
    0%
        @apply w-[35%] bg-sky-600
    100%
        @apply w-[0%] bg-sky-600

@keyframes blinkColorSky
    0%
        @apply text-sky-800
    50%
        @apply text-sky-700
    100%
        @apply text-sky-600
    50%
        @apply text-sky-700
    0%
        @apply text-sky-800

@keyframes scale
    0%
        transform: scale(1)
    25%
        transform: scale(1.05)
    75%
        transform: scale(1)
    100%
        transform: scale(1)

@keyframes disappear
    0%
        @apply text-white
    100%
        @apply text-black

@keyframes blink
    0%, 100%
        opacity: 1
    50%
        opacity: 0

@keyframes zoomInOut
    0%
        transform: scale(1)
    25%
        transform: scale(1.1)
    75%
        transform: scale(1)
    100%
        transform: scale(1)

@keyframes gradientAnimation2
    0%
        background: radial-gradient(ellipse, rgba(32, 35, 42, 0.80), rgba(40, 44, 52, 1))
    25%
        background: radial-gradient(ellipse, rgba(40, 44, 52, 0.80), rgba(50, 54, 62, 1))
    50%
        background: radial-gradient(ellipse, rgba(50, 54, 62, 0.80), rgba(60, 64, 72, 1))
    75%
        background: radial-gradient(ellipse, rgba(40, 44, 52, 0.80), rgba(50, 54, 62, 1))
    100%
        background: radial-gradient(ellipse, rgba(32, 35, 42, 0.80), rgba(40, 44, 52, 1))

@keyframes gradientAnimation
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

///////////////////////// Animation /////////////////////////

.textReveal-Animation
    animation: reveal 1.5s ease-in-out
.slideText-Animation
    animation: slide 0.5s ease-in-out forwards

.blinkColorSky-Animation
    animation: blinkColorSky 2s linear infinite alternate
.blink-Animation
    animation: blink 0.75s ease-in-out 2
.blinkInfinite-Animation
    animation: blink 2s ease-in-out infinite
.blinkInfiniteFast-Animation
    animation: blink 1s ease-in-out infinite

.disappear-Animation
    animation: disappear 1s linear

/////////////////////////// Home ///////////////////////////

//Section 1

#homeSection1
    background: linear-gradient(-45deg, rgba(32, 35, 42, 0.80), rgba(40, 44, 52, 1), rgba(50, 53, 60, 0.80), rgba(60, 64, 72, 1))
    background-size: 400% 400%
    animation: gradientAnimation 20s ease infinite
    @apply h-screen snap-start snap-always border-b-8 border-neutral-950 flex justify-center items-center
    #homeSection1div2
        @apply font-bold text-5xl
        p
            @apply py-2 cursor-default
        a
            @apply mt-5
            button
                @apply p-2 border-4 border-neutral-950 bg-neutral-950 rounded-xl text-white transition duration-300 ease-in-out text-4xl shadow-2xl
            button:hover
                @apply scale-105

//Section 2

#homeSection2
    background: linear-gradient(180deg, rgba(46,49,57,0.8) 0%, rgba(31,34,40,1) 100%)
    @apply h-screen snap-start snap-always pt-16 py-5 m-auto
    #homeSection2Head
        @apply flex justify-around
        #homeSection2HeadText
            @apply w-1/2
            h2
                @apply text-5xl font-bold text-sky-600 text-center my-5
            p
                @apply text-lg mt-2 text-white text-center
                span
                    @apply text-green-500 font-bold
                a
                    button
                        background-color: #2C3033
                        @apply p-2 border-2 border-slate-300 rounded-xl text-white transition duration-300 ease-in-out text-xl mt-5 shadow-2xl
                    button:hover
                        @apply scale-105
    #homeSection2Content
        @apply flex justify-around my-14 mx-24
        a:hover
            @apply scale-105
        a
            @apply transition duration-300 ease-in-out 
            img
                border-color: #25272b
                @apply border-4 rounded-lg shadow-2xl h-48
    #homeSection2Foot
        @apply text-center mt-5
        p
            @apply text-white text-xl mb-2
            span
                @apply text-green-500
        a
            button
                background-color: #2C3033
                @apply p-2 border-2 border-slate-300 rounded-xl text-white transition duration-300 ease-in-out text-xl mt-10 shadow-2xl
            button:hover
                @apply scale-105

//Section 3

#homeSection3
    @apply relative flex h-screen items-center justify-center
    div
        @apply relative z-10 mb-[300px]
        p
            @apply text-green-500 font-bold text-3xl
            a
                button
                    @apply transition duration-300 ease-in-out
                button:hover
                    @apply border-b-2 border-green-600
    img
        @apply absolute z-0 h-screen w-full