///////////////////////// KeyFrames /////////////////////////

@keyframes translateX
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0%)

@keyframes reveal
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes slide
    0%
        @apply w-[35%] bg-sky-600
    100%
        @apply w-[0%] bg-sky-600

@keyframes blinkColorSky
    0%
        @apply text-sky-800
    50%
        @apply text-sky-700
    100%
        @apply text-sky-600
    50%
        @apply text-sky-700
    0%
        @apply text-sky-800

@keyframes blinkColorGold
    0%
        @apply text-yellow-300
    50%
        @apply text-yellow-400
    100%
        @apply text-yellow-500
    50%
        @apply text-yellow-400
    0%
        @apply text-yellow-300

@keyframes scale
    0%
        transform: scale(1)
    25%
        transform: scale(1.05)
    75%
        transform: scale(1)
    100%
        transform: scale(1)

@keyframes disappear
    0%
        @apply text-white
    100%
        @apply text-black

@keyframes blink
    0%, 100%
        opacity: 1
    50%
        opacity: 0

@keyframes zoomInOut
    0%
        transform: scale(1)
    25%
        transform: scale(1.1)
    75%
        transform: scale(1)
    100%
        transform: scale(1)

///////////////////////// Animation /////////////////////////

.textReveal-Animation
    animation: reveal 1.5s ease-in-out
.slideText-Animation
    animation: slide 0.5s ease-in-out forwards

.blinkColorSky-Animation
    animation: blinkColorSky 2s linear infinite alternate
.blinkColorGold-Animation
    animation: blinkColorGold 1s linear infinite alternate

.blink-Animation
    animation: blink 0.75s ease-in-out 2
.blinkInfinite-Animation
    animation: blink 2s ease-in-out infinite
.blinkInfiniteFast-Animation
    animation: blink 1s ease-in-out infinite

.disappear-Animation
    animation: disappear 1s linear

/////////////////////////// Home ///////////////////////////

//Section 1

#homeSection1
    background: radial-gradient(ellipse, rgba(32,35,42, 0.80), rgba(40, 44, 52, 1))
    @apply h-screen snap-start snap-always flex justify-around pt-14 py-5 border-b-8 border-neutral-950
    #homeSection1div1
        @apply w-1/2
        img
            animation: translateX 0.75s ease-out
            @apply m-auto relative top-[12%]
    #homeSection1div2
        @apply w-1/2 font-bold text-8xl my-auto
        p
            @apply py-2 cursor-default
        a
            @apply mt-5
            button
                @apply p-2 border-4 border-neutral-950 bg-neutral-950 rounded-xl text-white transition duration-300 ease-in-out text-6xl shadow-2xl
            button:hover
                @apply scale-105

//Section 2

#homeSection2
    @apply h-screen snap-start snap-always pt-20 py-5 bg-gradient-to-r from-gray-900 to-gray-950
    #homeSection2Head
        @apply flex justify-around
        #homeSection2HeadPicture
            @apply w-1/2
            img
                animation: zoomInOut 2s infinite alternate
                @apply m-auto border-4 border-sky-600 rounded-lg shadow-2xl
        #homeSection2HeadText
            @apply w-1/2
            h2
                @apply text-5xl font-bold text-sky-600 text-center
            p
                @apply text-xl mt-4 text-white text-center
                span
                    @apply text-green-500 font-bold
                    a
                        button
                            @apply p-2 border-2 border-slate-300 bg-zinc-900 rounded-xl text-white transition duration-300 ease-in-out text-3xl mt-5 shadow-2xl
                        button:hover
                            @apply scale-105
    #homeSection2Content
        @apply flex justify-around mt-14
        a:hover
            @apply scale-105
        a
            @apply transition duration-300 ease-in-out 
            img
                @apply border-4 border-sky-600 rounded-lg shadow-2xl
    #homeSection2Foot
        @apply text-center mt-5
        p
            @apply text-white text-4xl
            span
                @apply text-green-500
        a
            button
                @apply p-2 border-2 border-slate-300  bg-zinc-900 rounded-xl text-white transition duration-300 ease-in-out text-6xl mt-5 shadow-2xl
            button:hover
                @apply scale-105

//Section 3

#homeSection3
    @apply relative flex h-screen items-center justify-center
    div
        @apply relative z-10 -top-1/4
        p
            @apply text-green-500 font-bold text-3xl
            a
                button
                    @apply transition duration-300 ease-in-out
                button:hover
                    @apply border-b-2 border-green-600
    img
        @apply absolute z-0 object-cover h-screen w-full