///////////////////////// KeyFrames /////////////////////////

@keyframes translateYContactText
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0%)

@keyframes aboutRevealPicture
    0%
        opacity: 0
    100%
        opacity: 1

///////////////////////// Animation /////////////////////////

.aboutTranslateText-Animation
    animation: translateYContactText 1s ease-out
.aboutRevealPicture-Animation
    animation: aboutRevealPicture 2s ease-in-out

/////////////////////////// About ///////////////////////////

//Section1

#aboutSection1
    background-color: #B8B9BB
    @apply h-screen snap-start snap-always flex justify-around pt-14
    #aboutText
        @apply m-auto w-1/2 ml-[200px]
        div
            border: 1px solid
            border-color: #a8a9aa
            background-color: #b3b3b4
            @apply rounded-lg shadow-lg p-4 mb-4 duration-100
            h2
                @apply mb-4 font-bold text-2xl text-sky-600
            p
                @apply text-center text-lg text-slate-950
                span
                    @apply font-bold text-slate-900
        div:hover
            @apply scale-105 duration-100
    #aboutPicture
        @apply m-auto w-1/2 mr-[200px]
        img
            @apply m-auto