<section id="homeSection1">
    <div id="homeSection1div1">
        <img src="../../assets/pictures/pages/home/homeSection1Picture.svg" alt="indexSection1Img">
    </div>
    <div id="homeSection1div2">
        <p class="text-green-500 homeSection1-slideText-Animation">Zibounne</p>
        <p class="homeSection1-textReveal-Animation">Developer web junior</p>
        <p>
            <span class="homeSection1-textReveal-Animation">Real Name </span>
            <span class="text-sky-600">{{'{'}}</span>
            <span class="homeSection1-blinkColor-Animation">Tarik</span>
            <span class="text-sky-600">{{'}'}}</span>
        </p>
        <a href="/about">
            <button class="homeSection1-blink-Animation">about Me</button>
        </a>
    </div>
</section>

<section id="homeSection2">

</section>