<section id="homeSection1">
    <div id="homeSection1div1">
        <img src="../../assets/pictures/pages/home/homeSection1Picture.svg" alt="indexSection1Img">
    </div>
    <div id="homeSection1div2">
        <p class="text-green-500">Zibounne</p>
        <p>Developer web junior</p>
        <p>
            <span>Real Name </span><span class="text-sky-600">{{'{'}}</span><span class="text-green-500">Tarik</span><span class="text-sky-600">{{'}'}}</span>
        </p>
        <a href="/about">
            <button>about Me</button>
        </a>
    </div>
</section>

<section id="homeSection2">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odio atque velit voluptatibus quia, molestias corporis distinctio consequuntur libero veniam quas facere incidunt repudiandae ad nisi eligendi suscipit. Vitae, expedita.
    Neque, maxime laborum. Fugit cumque suscipit alias illo magnam incidunt quidem voluptatum error reiciendis aut, deserunt quae distinctio, enim facilis nesciunt iusto animi repudiandae molestiae earum explicabo eius, atque nam.
    Dolorem temporibus officiis, commodi sed praesentium ipsam error eveniet corporis consectetur quasi quo enim nam suscipit? Fuga natus rem temporibus iure distinctio rerum voluptatum eaque reiciendis quo vero. Blanditiis, unde!
    In doloribus quasi corporis. Ex magni animi minima architecto, eius dolor odit vero rem consequuntur dolorem, veritatis quis voluptate beatae sint id aut deleniti corrupti fugiat ad ducimus ab neque.
    Doloremque, omnis. Sint laudantium quaerat consequuntur quia molestiae minus error adipisci et atque ab. Accusamus vel enim recusandae, repellat neque voluptatum ad vitae, suscipit amet aut quo aliquam voluptatibus dolore!
    Perspiciatis est optio et explicabo quidem laborum expedita quisquam, voluptatum animi odit aliquam unde officia rem dolor incidunt illo quos quas commodi deleniti? Dolore autem odio aut? Nemo, a non.
    Amet illum excepturi sequi non aut quos voluptatem, ducimus laudantium voluptate nisi asperiores corrupti. Praesentium, excepturi quidem ratione quae perspiciatis doloremque dolorum possimus laboriosam culpa corporis iusto rem natus maiores!
    Provident, hic praesentium? Dignissimos quisquam, illo sed rerum repellat laudantium ad ut autem eveniet molestiae velit accusantium consequuntur enim! Fuga beatae quis facilis! At, quae aspernatur libero iure architecto dolores.
    Praesentium, veniam pariatur. Reprehenderit assumenda nobis consequuntur quasi accusamus laborum quae, voluptatibus autem? Explicabo dicta alias eveniet, assumenda error minima sit et nemo, voluptatibus rerum esse similique, quasi praesentium! Quidem.
    Nostrum tempore exercitationem perspiciatis, distinctio consequuntur ex dicta fuga dolores ducimus suscipit eum at excepturi, qui accusamus voluptate dignissimos quo. Architecto ipsum laborum sit pariatur, provident nemo possimus maxime atque.</h2>
</section>