@keyframes translateYHeader
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0%)
    
header
    animation: translateYHeader 0.75s ease-out
    @apply w-1/2 bg-neutral-950 text-white py-2 text-xl font-bold rounded-b-lg border-x-2 border-b-2 border-white fixed left-1/4 transition-transform duration-300 ease-linear transform z-10
    nav
        @apply flex justify-between
        ul
            @apply flex m-auto
            li
                @apply pr-5 flex
                button
                    @apply transition-all duration-150 ease-in-out px-3
                    i
                        @apply pl-2
                button:hover
                    @apply border-b-sky-600 text-sky-600
                button.active
                    @apply border-4 border-sky-600 bg-sky-600 rounded text-white